* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-image: url(../img/marbella.png);
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    /* background-size:100%;
    height: 140px;
    display:block;
    padding:0 !important;
    margin:0;
    background-repeat: no-repeat; */
}
.gole {
    margin-left: 10px;
}
/* .text_and_btn {
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background: transparent;
    background-color: rgb(0, 0, 0, .3);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
} */
.footer_color {
    background-color: rgb(21, 21, 21);
}

.wei_text {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bolder; */
    padding-bottom: 10px;
    color: white;
    
}
.wei_text_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* font-weight: bolder; */
    color: white;
}
.bor_txt {
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: transparent;
    background-color: rgb(0, 0, 0, .3);
}