<!--    Шапка Гоши-->
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <span class="fs-4">LAS MATEMATICAS</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'home' %}">Home</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'about' %}">About-us</a>
          <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'create' %}">Create New Task</a>
      </nav>
    </div>
<!--    Конец Шапка Гоши-->
