{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


<!--    <h1>Main page</h1>-->
<!--    {% if tasks %}-->
<!--        {% for el in tasks %}-->
<!--            <div class="alert alert-warning mt-2">-->
<!--                <h3>{{ el.title }}</h3>-->
<!--                <p>{{ el.task }}</p>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    {% else %}-->
<!--        <p>Don't have any tasks</p>-->
<!--    {% endif %}-->

    <div class="mb-5">
        <div class="container text-center">
            <div class="row">
                <div class="col"></div>
                    <div class="container text-center my-5"><h5>МАТЕМАТИКА<br>ОТ ПРОСТОГО К СЛОЖНОМУ</h5></div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container text-center mb-3">
            <div class="row">
                <div class="col bor_txt">
                    <div>
                        <h1 class="wei_text fw-bolder">Английская школа IGCSE, A-Level, IB, IB- Higher level</h1><br>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col bor_txt">
                    <div>
                        <h1 class="wei_text fw-bolder">Испанская школа ESO-2, ESO-3, ESO-4, Bachillerato</h1><br>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col bor_txt">
                    <div>
                        <h1 class="wei_text fw-bolder">Российская система <br>ОГЭ, ЕГЭ</h1><br>
                    </div>
                </div>

            </div>

        </div>

    </div>

<div class="container text-center py-3 mb-5 bg-success text-info">
    <h3>Во время обучения используем материал и учебники вашей школы, <br>решаем домашние задания</h3>
</div>

    <div id="carouselExampleSlidesOnly" class="carousel slide col-6" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active"><img src="static/img/chica_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/Screenshot_1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/Screenshot_2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/chica_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/Screenshot_3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/Screenshot_4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/libroria.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/Screenshot_5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"><img src="static/img/Screenshot_6.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


{% endblock %}




