{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}



<div class="container text-center mt-4 mb-5">
  <h3>Рассмотрим все вопросы, <br>необходимые для успешной сдачи экзаменов.<br>Решение тестовых задач по всем темам.</h3>
</div>

<!--children grope 1-->
<div class="container text-center py-3 mb-4 bg-success text-info">
    <h4>Дети группы 1 (ориентировочно дети 12-13 лет)</h4>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-9">
            <ul class="">
                <li>Многочлены, раскрытие скобок и наоборот, представление многочлена в виде множителей</li>
                <li>Степени, вычисления со степенями</li>
                <li>Понятие корня из числа</li>
                <li>Пропорции, проценты</li>
                <li>Линейные неравенства</li>
                <li>Различные способы решения систем линейных уравнений</li>
                <li>Решение задач на составление систем линейных уравнений</li>
                <li>Геометрия</li>
            </ul>
        </div>

        <div class="col-3 px-0"><img src="static/img/chico_1.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
</div>


<!--children grope 2-->
<div class="container text-center py-3 mb-4 bg-success text-info">
    <h4>Дети группы 2 (ориентировочно дети 14-15 лет)</h4>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-9">
            <ul class="">
                <li>Графики функций</li>
                <li>Модули</li>
                <li>Степени, вычисления со степенями, возведение в степень чисел и полиномов</li>
                <li>Логарифмы</li>
                <li>Понятие корня полинома, таблица Руффини</li>
                <li>Деление полинома на полином</li>
                <li>Несколько способов решения квадратных уравнений</li>
                <li>Арифметические и геометрические прогрессии</li>
            </ul>
        </div>

        <div class="col-3 px-0"><img src="static/img/chica_1.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
</div>


<!--children grope 3-->
<div class="container text-center py-3 mb-4 bg-success text-info">
    <h4>Дети группы 3 (ориентировочно дети 16-18 лет)</h4>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-9">
            <ul class="">
                <li>Свойства функций</li>
                <li>Степени, вычисления со степенями</li>
                <li>Дифференцирование и интегрирование функций</li>
                <li>Решение дифференциальных уравнений</li>
                <li>Решение задач с помощью дифференциирования</li>
                <li>Построение графиков сложных функций</li>
                <li>Нахождение касательных в точках</li>
                <li>Нахождение максимумов, минимумов, перегибов функций</li>
                <li>Пределы функций</li>
                <li>Векторы, базисы векторов</li>
                <li>Матрицы</li>
                <li>ригонометрия</li>
                <li>Решение сложных систем неравенств, степенных, логарифмических, тригонометрических</li>
                <li>Комплексные числа</li>
            </ul>
        </div>

        <div class="col-3 px-0"><img src="static/img/chica_3.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
</div>


<!--children grope 4-->
<div class="container text-center py-3 mb-4 bg-success text-info">
    <h4>Студенты, группа 4 (студенты 1-го курса университета)</h4>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-9">
            <ul class="">
                <li>Линейная алгебра</li>
                <li>Матрицы и их свойства</li>
                <li>Линейные пространства и подпространства, их свойства</li>
                <li>Ядро</li>
                <li>Базис</li>
                <li>Матрицы преобразования</li>
            </ul>
        </div>

        <div class="col-3 px-0"><img src="static/img/libroria.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
</div>


{% endblock %}