{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <h2 class="my-4">Обсуждение</h2>
    <h5 class="mb-4">Прочитайте часто задаваемые вопросы и ответы. Свои вопросы можно задать на странице "Задать вопрос".</h5>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-warning mt-2">
                <h5>{{ el.title }}</h5>
                {% autoescape off %}
                <p class="m-0">{{ el.task }}</p>
                {% endautoescape %}
            </div>
        {% endfor %}
    {% else %}
        <p>Don't have any tasks</p>
    {% endif %}

{% endblock %}